<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <% include ../partials/header %>
    <main>
        <div class="jumbotron">
            <h1>Portal de notícias!</h1>
            <p>Aplicação com NodeJS, Express e EJS.</p>
        </div>
    </main>
    <% include ../partials/footer %>
</body>
</html>
