<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <% include ../partials/header %>
    <main>
        <div class="jumbotron">
            <div class="alert alert-success" role="alert">
                <h5>Enviado com sucesso!</h5>
            </div>
        </div>
    </main>
    <% include ../partials/footer %>
</body>
</html>